<section id="seo">
  <div class="text-dark-brown grid grid-cols-1 sm:grid-cols-2">
    <div>
      <h2
        class="text-xl lg:text-3xl py-4 lg:py-6 font-semibold text-desert-rock"
      >
        SEO-Optimierung
      </h2>
      <div>
        Um sicherzustellen, dass Ihre Webseite in den Suchmaschinen perfekt
        positioniert ist, optimieren wir Ihre Inhalte mit gezielten
        SEO-Strategien. Dies beinhaltet die Integration von Schlüsselwörtern,
        die Ihre Zielgruppe aktiv sucht, und die Strukturierung Ihrer Inhalte,
        um von Suchmaschinen leichter erkannt zu werden. Darüber hinaus
        verbessern wir die Ladezeiten der Seiten und sorgen für eine
        SEO-freundliche Architektur, die sowohl Nutzern als auch Suchmaschinen
        hilft, sich auf Ihrer Webseite zurechtzufinden. Unsere umfassenden
        Analysen und fortlaufenden Anpassungen halten Sie stets auf dem neuesten
        Stand der SEO-Praktiken.
      </div>
    </div>

    <div class="flex justify-center items-center">**Illustration**</div>
  </div>
</section>
