---
import { Image } from "astro:assets";
import illustration from "../../assets/icons/shop.svg";
---

<section id="shops" class="pt-14 lg:pt-20">
  <div class="text-dark-brown grid grid-cols-1 sm:grid-cols-2 gap-8">
    <div class="order-1 sm:order-2">
      <h2
        class="text-xl lg:text-3xl py-4 lg:py-6 font-semibold text-desert-rock"
      >
        Online-Shops
      </h2>
      <div>
        Unsere E-Commerce-Lösungen bieten alles, was Sie für den Aufbau und
        Betrieb eines erfolgreichen Online-Shops benötigen. Von der Integration
        sicherer Zahlungsgateways bis zur Implementierung intuitiver
        Produktmanagement-Systeme stellen wir sicher, dass Ihr Shop nicht nur
        benutzerfreundlich, sondern auch sicher ist. Wir legen grossen Wert auf
        eine nahtlose Einkaufserfahrung, die Kunden dazu ermutigt, immer wieder
        zu kommen. Unsere Lösungen unterstützen verschiedene Verkaufsmodelle,
        sei es B2C oder B2B, und sorgen dafür, dass Ihre Produkte optimal
        präsentiert werden.
      </div>
    </div>
    <div
      class="flex justify-center items-center order-2 sm:order-1 pt-4 lg:pt-6"
    >
      <Image
        src={illustration}
        alt="Online Shop Illustration"
        loading="lazy"
        width={280}
      />
    </div>
  </div>
</section>
