---
import {Image} from "astro:assets";
import illustration from "../../assets/icons/design.svg";
---

<section id="webdesign" class="pt-14 lg:pt-20">
  <div class="text-dark-brown grid grid-cols-1 sm:grid-cols-2 gap-8">
    <div>
      <h2
          class="text-xl lg:text-3xl py-4 lg:py-6 text-desert-rock"
      >
        Webdesign
      </h2>
      <div>
        Unser Ansatz im Webdesign konzentriert sich darauf, eine Online-Präsenz
        zu schaffen, die Ihre Markenidentität vollständig widerspiegelt. Wir
        arbeiten eng mit Ihnen zusammen, um Designelemente zu entwickeln, die
        nicht nur ästhetisch ansprechend sind, sondern auch funktional die
        Bedürfnisse Ihrer Zielgruppe erfüllen. Von der Farbpalette bis zur
        Benutzeroberfläche gestalten wir jede Seite Ihrer Website mit einem
        klaren Fokus auf Benutzererfahrung und Markenkonformität. Unsere Designs
        sind mobiloptimiert, barrierefrei und fördern die Benutzerinteraktion.
      </div>
    </div>

    <div class="flex justify-center items-center pt-4 lg:pt-6">
      <Image
          src={illustration}
          alt="Webdesign Illustration"
          loading="lazy"
          width={280}
      />
    </div>
  </div>
</section>
