<section id="overview">
  <div class="ml-auto mr-auto w-fit mt-20 text-desert-rock tracking-wide">
    IHR DIGITALER AUFTRITT
  </div>
  <h1
    class="text-3xl lg:text-6xl font-bold ml-auto mr-auto w-fit text-desert-rock mt-4 mb-8 lg:mb-20"
  >
    Websites & Shops
  </h1>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-5 lg:gap-10 text-dark-brown">
    <div
      class="p-5 lg:p-10 rounded-lg bg-porcelain-mist border border-creamed-oat hover:scale-105 transform transition-transform duration-200 cursor-pointer"
      id="designClickSource"
    >
      <div class="mb-3 lg:mb-6 flex flex-row gap-4 lg:gap-6 items-center">
        <i class="fa-solid fa-object-group scale-150"></i>
        <div class="text-xl font-bold">Webdesign</div>
      </div>
      <div>
        Wir verwandeln Ihre Vision in beeindruckende Webdesigns, die
        ansprechend, funktional und benutzerfreundlich sind.
      </div>
    </div>

    <div
      class="p-5 lg:p-10 rounded-lg bg-porcelain-mist border border-creamed-oat hover:scale-105 transform transition-transform duration-200 cursor-pointer"
      id="shopClickSource"
    >
      <div class="mb-3 lg:mb-6 flex flex-row gap-4 lg:gap-6 items-center">
        <i class="fa-solid fa-cart-shopping scale-150"></i>
        <div class="text-xl font-bold">Online-Shops</div>
      </div>
      <div>
        Wir implementieren benutzerfreundliche Online-Shop-Systeme, die Ihre
        Umsätze durch optimierte Kundeninteraktionen erhöhen.
      </div>
    </div>

    <div
      class="p-5 lg:p-10 rounded-lg bg-porcelain-mist border border-creamed-oat hover:scale-105 transform transition-transform duration-200 cursor-pointer"
      id="seoClickSource"
    >
      <div class="mb-3 lg:mb-6 flex flex-row gap-4 lg:gap-6 items-center">
        <i class="fa-solid fa-magnifying-glass scale-150"></i>
        <div class="text-xl font-bold">SEO-Optimierung</div>
      </div>
      <div>
        Wir steigern Ihre Online-Präsenz durch strategisch platzierte,
        SEO-optimierte Inhalte, die Sichtbarkeit und Engagement erhöhen
      </div>
    </div>
  </div>
</section>

<script>
  const design = document.getElementById("designClickSource");
  const shop = document.getElementById("shopClickSource");
  const seo = document.getElementById("seoClickSource");

  design?.addEventListener("click", () => scrollToElement("webdesign"));
  shop?.addEventListener("click", () => scrollToElement("shops"));
  seo?.addEventListener("click", () => scrollToElement("seo"));

  function scrollToElement(id: string): void {
    const element = document.getElementById(id);
    if (!element) return;

    const start = window.scrollY - 80;
    const end = element.getBoundingClientRect().top + start;
    const distance = end - start;

    window.scrollTo(0, start + distance);
  }
</script>
