<section id="impressum">
  <h1
    class="text-3xl lg:text-6xl font-bold ml-auto mr-auto w-fit text-desert-rock mt-8 lg:mt-20 mb-8 lg:mb-20"
  >
    Impressum
  </h1>

  <h2 class="text-lg lg:text-xl mb-2 lg:mb-4 font-semibold">Kontaktadresse</h2>
  <div>Mosaic Software GmbH</div>
  <div>Brunnenstrasse 7</div>
  <div>8610 Uster</div>
  <div>contact@mosaic-software.ch</div>
  <div>Tel: +41 76 473 99 74</div><br />
  <div>Eingetragener Firmenname: Mosaic Software GmbH</div>
  <div>Unternehmens-Identifikationsnummer: CHE-442.129.274</div>

  <h2 class="text-lg lg:text-xl mb-2 lg:mb-4 mt-4 lg:mt-8 font-semibold">
    Vertretungsberechtigte Personen
  </h2>
  <div>Amir Kian Awak</div>
  <div>Christian Balta</div>
  <div>David Lipps</div>

  <div class="flex flex-col gap-4 lg:gap-8 mt-4 lg:mt-8 text-dark-brown">
    <div>
      <h2 class="text-lg lg:text-xl mb-2 lg:mb-4 font-semibold">
        Haftungsausschluss
      </h2>
      <p>
        Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen
        Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und
        Vollständigkeit der Informationen. Haftungsansprüche gegen den Autor
        wegen Schäden materieller oder immaterieller Art, welche aus dem Zugriff
        oder der Nutzung bzw. Nichtnutzung der veröffentlichten Informationen,
        durch Missbrauch der Verbindung oder durch technische Störungen
        entstanden sind, werden ausgeschlossen.
      </p>
      <p>
        Alle Angebote sind unverbindlich. Der Autor behält es sich ausdrücklich
        vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte
        Ankündigung zu verändern, zu ergänzen, zu löschen oder die
        Veröffentlichung zeitweise oder endgültig einzustellen.
      </p>
    </div>

    <div>
      <h2 class="text-lg lg:text-xl mb-2 lg:mb-4 font-semibold">
        Haftung für Links
      </h2>
      <p>
        Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres
        Verantwortungsbereichs. Es wird jegliche Verantwortung für solche
        Webseiten abgelehnt. Der Zugriff und die Nutzung solcher Webseiten
        erfolgen auf eigene Gefahr des Nutzers oder der Nutzerin.
      </p>
    </div>

    <div>
      <h2 class="text-lg lg:text-xl mb-2 lg:mb-4 font-semibold">
        Urheberrechte
      </h2>
      <p>
        Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder
        anderen Dateien auf der Website gehören ausschliesslich der oben
        genannten Firma/Person oder den speziell genannten Rechtsinhabern. Für
        die Reproduktion jeglicher Elemente ist die schriftliche Zustimmung der
        Urheberrechtsträger im Voraus einzuholen.
      </p>
    </div>
  </div>
</section>
