---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import TechPartner from "../components/TechPartner.astro";
import Focus from "../components/Focus.astro";
---

<Layout title="Softwareagentur in Zürich | Mosaic Software">
  <Navigation />
  <main>
    <Hero />
    <TechPartner />
    <Focus />
  </main>
</Layout>
