---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/shared/Navigation.astro';
import Hero from '../components/home/Hero.astro';
import TechPartner from "../components/home/TechPartner.astro";
import Focus from "../components/home/Focus.astro";
import Portfolio from "../components/home/Portfolio.astro";
import About from "../components/home/About.astro";
import Contact from "../components/shared/Contact.astro";
---

<Layout title="Softwareagentur Zürich | Mosaic Software">
  <Navigation/>
  <main>
    <Hero/>
    <TechPartner/>
    <Focus/>
    <Portfolio/>
    <About/>
    <Contact/>
  </main>
</Layout>
