---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../sections/Hero.astro';
import TechPartner from "../sections/TechPartner.astro";
import Focus from "../sections/Focus.astro";
import Portfolio from "../sections/Portfolio.astro";
---

<Layout title="Softwareagentur in Zürich | Mosaic Software">
  <Navigation />
  <main>
    <Hero />
    <TechPartner />
    <Focus />
    <Portfolio />
  </main>
</Layout>
