---
import {Image} from "astro:assets";
import team from "../../assets/team-mosaic-software.png"
import ButtonPrimary from "../shared/ButtonPrimary.astro";
---

<section id="about" class="relative">
  <div
      class="mx-auto w-full max-w-screen-2xl px-3 sm:px-4 lg:px-6 py-16 lg:py-24"
  >
    <div class="grid grid-cols-1 md:grid-cols-3 gap-12 items-start">
      <!-- Column 1: Image -->
      <div class="w-full">
        <Image
            src={team}
            alt="Mosaic Software GmbH Team"
            loading="eager"
            class="w-full h-auto rounded-lg object-cover"
        />
      </div>

      <!-- Column 2: Title & Text -->
      <div class="text-center md:text-left">
        <h2
            class="text-3xl md:text-4xl lg:text-5xl tracking-tight text-dark-brown"
        >
          Das sind wir
        </h2>
        <p class="mt-4 text-dark-brown md:text-lg leading-relaxed">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
          consequuntur doloremque et fuga id iste laboriosam laudantium officiis
          quaerat voluptatem!
        </p>
        <p class="mt-4 text-dark-brown md:text-lg leading-relaxed">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
          consequuntur doloremque et fuga id iste laboriosam laudantium officiis
          quaerat voluptatem!
        </p>
        <p class="mt-4 text-dark-brown md:text-lg leading-relaxed">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
          consequuntur doloremque et fuga id iste laboriosam laudantium officiis
          quaerat voluptatem!
        </p>
        <div class="mt-8">
          <a href="/ueber-uns" class="underline">Mehr dazu -></a>
        </div>
      </div>

      <!-- Column 3: Facts -->
      <div class="grid gap-6 text-dark-brown">
        <div class="p-5 rounded-lg bg-porcelain-mist border border-creamed-oat">
          <div class="text-3xl">5+</div>
          <div class="mt-1">Lorem ipsum dolor.</div>
          <div class="text-sm text-neutral-600">Lorem ipsum dolor.</div>
        </div>
        <div class="p-5 rounded-lg bg-porcelain-mist border border-creamed-oat">
          <div class="text-3xl">15+</div>
          <div class="mt-1">Lorem ipsum dolor.</div>
          <div class="text-sm text-neutral-600">Lorem ipsum dolor sit.</div>
        </div>
        <div class="p-5 rounded-lg bg-porcelain-mist border border-creamed-oat">
          <div class="text-3xl">5/5</div>
          <div class="mt-1">Rating</div>
          <div class="text-sm text-neutral-600">Lorem ipsum dolor.</div>
        </div>
      </div>
    </div>
  </div>
</section>
