---
import {Image} from "astro:assets";
import mosaicTeamMeeting from "../../assets/home/DSC00804.jpg"
---

<section class="py-16 lg:py-24">
  <div class="mx-auto w-full max-w-screen-2xl px-3 sm:px-4 lg:px-6">
    <div
        class="bg-porcelain-mist text-dark-brown rounded-3xl overflow-hidden border border-creamed-oat"
    >
      <div
          class="grid grid-cols-1 lg:grid-cols-2 gap-12 lg:gap-20 items-stretch"
      >

        <div class="space-y-8 p-8 md:p-12 lg:p-16">
          <h2
              class="text-dark-brown text-3xl md:text-3xl lg:text-4xl xl:text-5xl leading-tight"
          >
            Dein Technologie Partner
          </h2>

          <h3 class="text-lg lg:text-xl font-medium">
            Wir sind eine spezialisierte Softwareagentur aus Zürich für digitale
            Produkte.
          </h3>

          <div class="space-y-3">
            <p>
              Bei uns erhältst du von Anfang an einen persönlichen Projektleiter
              als deinen festen Ansprechpartner, der dich durch den gesamten
              Entwicklungsprozess begleitet. Diese direkte Verbindung bedeutet
              für dich maximale Transparenz und Erreichbarkeit.
            </p>
            <p>
              Diese persönliche Betreuung wird durch unsere konsequente
              Eigenentwicklung perfekt ergänzt. Die komplette Umsetzung deines
              Projekts erfolgt ausschliesslich durch unser internes Expertenteam
              – vom ersten Konzept bis zum finalen Produkt.
            </p>
          </div>
        </div>

        <div
            class="relative h-64 md:h-80 lg:h-full xl:h-full overflow-hidden lg:rounded-l-full"
        >
          <Image
              src={mosaicTeamMeeting}
              alt="Mosaic Software Team Meeting"
              class="absolute inset-0 w-full h-full object-cover"
          />
        </div>
      </div>
    </div>
  </div>
</section>
