<section id="desktopapplications" class="pt-14 lg:pt-20">
  <div class="text-dark-brown grid grid-cols-1 sm:grid-cols-2">
    <div>
      <h2
        class="text-xl lg:text-3xl py-4 lg:py-6 font-semibold text-desert-rock"
      >
        Desktop-Applikationen
      </h2>
      <div>
        In unserer umfassenden Palette an Softwarelösungen bieten wir auch
        Desktop-Applikationen, die speziell für die Optimierung Ihrer
        Geschäftsprozesse entwickelt werden. Unsere Desktop-Lösungen zeichnen
        sich durch hohe Leistungsfähigkeit und Benutzerfreundlichkeit aus und
        sind perfekt auf die spezifischen Bedürfnisse Ihres Unternehmens
        abgestimmt. Wir verwenden die neuesten Technologien, um robuste, sichere
        und intuitive Anwendungen zu erstellen, die sowohl in Einzel- als auch
        in Netzwerkumgebungen effizient laufen. Vertrauen Sie auf unsere
        Expertise, um Anwendungen zu entwickeln, die nicht nur Ihre Effizienz
        steigern, sondern auch eine reibungslose Integration in Ihre bestehende
        IT-Infrastruktur ermöglichen.
      </div>
    </div>

    <div class="flex justify-center items-center">**Illustration**</div>
  </div>
</section>
