<section id="overview">
  <div
    class="ml-auto mr-auto w-fit mt-8 lg:mt-20 text-desert-rock tracking-wide text-center"
  >
    OPTIMIEREN SIE IHRE GESCHÄFTSPROZESSE
  </div>
  <h1
    class="text-3xl lg:text-6xl font-bold ml-auto mr-auto w-fit text-desert-rock mt-4 mb-8 lg:mb-20"
  >
    Softwarelösungen
  </h1>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-5 lg:gap-10 text-dark-brown">
    <div
      class="p-5 lg:p-10 rounded-lg bg-porcelain-mist border border-creamed-oat hover:scale-105 transform transition-transform duration-200 cursor-pointer"
      onclick="location.href = '/software#webapplications'"
    >
      <div class="mb-3 lg:mb-6 flex flex-row gap-4 lg:gap-6 items-center">
        <svg
          width="26"
          height="100%"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6.5 19C4.01472 19 2 16.9853 2 14.5C2 12.1564 3.79151 10.2313 6.07974 10.0194C6.54781 7.17213 9.02024 5 12 5C14.9798 5 17.4522 7.17213 17.9203 10.0194C20.2085 10.2313 22 12.1564 22 14.5C22 16.9853 19.9853 19 17.5 19C13.1102 19 10.3433 19 6.5 19Z"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        <div class="text-lg lg:text-xl font-bold">Web-Applikationen</div>
      </div>
      <div>
        Wir entwickeln leistungsstarke Web-Applikationen, die speziell auf Ihre
        Geschäftsprozesse zugeschnitten sind.
      </div>
    </div>

    <div
      class="p-5 lg:p-10 rounded-lg bg-porcelain-mist border border-creamed-oat hover:scale-105 transform transition-transform duration-200 cursor-pointer"
      onclick="location.href = '/software#mobileapps'"
    >
      <div class="mb-3 lg:mb-6 flex flex-row gap-4 lg:gap-6 items-center">
        <i class="fa-solid fa-mobile-screen scale-150"></i>
        <div class="text-lg lg:text-xl font-bold">Mobile-Apps</div>
      </div>
      <div>
        Unsere Apps funktionieren einwandfrei auf iOS und Android und tragen
        wesentlich zur Steigerung Ihrer Kundenbindung bei.
      </div>
    </div>

    <div
      class="p-5 lg:p-10 rounded-lg bg-porcelain-mist border border-creamed-oat hover:scale-105 transform transition-transform duration-200 cursor-pointer"
      onclick="location.href = '/software#desktopapplications'"
    >
      <div class="mb-3 lg:mb-6 flex flex-row gap-4 lg:gap-6 items-center">
        <i class="fa-solid fa-display scale-150"></i>
        <div class="text-lg lg:text-xl font-bold">Desktop-Applikationen</div>
      </div>
      <div>
        Unsere Desktop-Applikationen bieten eine hohe Leistung und
        Benutzerfreundlichkeit, welche nahtlos in Ihre bestehenden Systeme
        integriert werden.
      </div>
    </div>
  </div>
</section>
