<section id="webapplications" class="pt-14 lg:pt-20">
  <div class="text-dark-brown grid grid-cols-1 sm:grid-cols-2">
    <div>
      <h2
        class="text-xl lg:text-3xl py-4 lg:py-6 font-semibold text-desert-rock"
      >
        Web-Applikationen
      </h2>
      <div>
        Jedes Geschäft ist einzigartig, und daher benötigen Sie eine
        Web-Applikation, die genau auf Ihre Bedürfnisse zugeschnitten ist. Unser
        erfahrenes Team arbeitet eng mit Ihnen zusammen, um eine
        massgeschneiderte Lösung zu entwickeln, die Ihre spezifischen
        Anforderungen erfüllt. Wir integrieren modernste Technologien und Best
        Practices, um sicherzustellen, dass Ihre Web-Applikation sowohl
        leistungsstark als auch skalierbar ist. Unser Ziel ist es, Lösungen zu
        schaffen, die nicht nur funktional, sondern auch ästhetisch ansprechend
        und intuitiv zu bedienen sind.
      </div>
    </div>

    <div class="flex justify-center items-center">**Illustration**</div>
  </div>
</section>
